input[type=file] {
  display: inline-block;
}

h1 {
  margin: 50px auto 50px;
}

h3 {
  margin-left: 150px;
}

.wrapper {
  margin: 0 auto;
}

.container div#output {
  margin-top:50px;
  font-family: monospace;
}
